font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
*::-webkit-scrollbar {
    width: 0 !important;
}
textarea{
    outline: none;
    border:none;
    resize: none;
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
}
/*number样式取消*/
input[type=number] {  
-moz-appearance:textfield;  
}  

input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
}  
li{
	list-style: none;
}
span{
    display: inline-block;
}
img{
    display: inline-block;
    border: none;
}
/*隐藏滚动条*/
html{
    height: 100%;
}
html body{
    background-color:#f7f7f7;
    height: 100%;
}
/*二维码*/
#qcode{
    position:absolute;
    right:0px;
    top:0px;
    width:0;
    height:0;
    border-left: 30px solid transparent;
    border-top: 30px solid #DC4141;
    z-index:999;
}
#qcode_img{
    position:absolute;
    right:15px;
    top:15px;
    width:140px;
    height:140px;
    background-color:
    white;
    border:1px solid black;
    padding:5px;
    z-index:999;
    /*display:none;*/
}
#qcode_img img{
    width: 100%;
}
#top_notic{
	background-color: white;
	text-align: center;
	font-size: 0.216667rem;
	color: black;
	height:0.5rem;
	width: 100%;
	position: fixed;
	top:0;
	letter-spacing:0.033333rem;
}
/*tab栏固定动*/
.tab_container_fixed{
    top: 46px;
    position: absolute!important;
    overflow-x: hidden;
    overflow-y: auto;
}
/*tabs上面的内容*/
.content-container{
    position: fixed;
    width: 100%;
    bottom: 3.375rem;
    top:0;
    z-index: 20;
}

body .btn-active{
    background-color: #ff5b5b!important;
    color: #fff!important;
}
/*最下面的tabs*/
.footer-container{
    position: fixed;
    width: 100%;
    height: 3.375rem;
    bottom: 0;
    left: 0;
    font-size: 0;
    z-index: 10;
}
.footer-container a{
    display: inline-block;
}
.footer-container ul{
    width: 100%;
    height: 100%;
}
.footer-container ul li{
    cursor: pointer;
    width: 25%;
    height: 100%;
    vertical-align: top;
    text-align: center;
    display: inline-block;
    line-height: 3.375rem;
    box-sizing: border-box;
}
.footer-container ul li.footer-options{
    width: 12% ;
}
.footer-container ul li img{
    display: inline-block;
    width: 4.375rem;
    height: 3.3125rem;
}

.x::before{
    content: "✕";
    cursor: pointer;
}
            /*选择服务器的样式*/
/*重写iview中下拉菜单的样式，解决错位的BUG*/
.no-data-notic {
    font-size: 14px;
    padding: 30px 10px 10px;
    text-align: center;
    height: 18px;
    line-height: 18px;
}

/*组件样式*/
.clearfix:after,.clearfix:before{ content: "";display: table;}
.clearfix:after{ clear:both;}
.clearfix{zoom:1;}
.disable{background-color: #e6c8c8!important;
    cursor: not-allowed!important;
}
/*自定义tab组件样式*/
.tabs-container{
    width:100%;
    height: 44px;
    font-size: 0px;
    line-height: 44px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 2px;
}
.tabs-container li{
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}
.tabs-active{
    border-bottom: 2px solid #e4393c;
}

.panel-contanier{
    width: 100%;
    height: 100%;
    position: relative;
}
/*loading样式*/
.load{
    animation: ani-spin 1s linear infinite;
}
@keyframes ani-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
.loading-container{
    margin-top: -10px;
    border-top: 1px solid #eee;
    height: 60px;
    width: 100%!important;
    position: relative;
    border: 1px solid #eee;
}

/*下面的totop*/
.totop{
    width: 40px;
    height: 40px;
}
.ivu-back-top.ivu-back-top-show{
    right: 10px!important;
    bottom: 50px;
}
/*simple-modal*/
.simple-modal-options{
    width:100%;
    text-align: center;
}
.simple-modal-options .simple-modal-pass, .simple-modal-options .simple-modal-ok{
    width: 47%;
    display: inline-block;
    cursor: pointer;
}
.simple-modal-options .simple-modal-optionsok{
    color: #ff5b5b;
}


/*公用的一些css*/


/*背景字体*/
.background-active{
    background-color: #ff5b5b;
}
/*红色字体*/
.font-active{
    color: #ff5b5b;
}
/*简单的按钮*/
.cbg-button{
    display: inline-block;
    background-color: #fff;
    padding: 5px 15px;
    border: 1px solid #ccc;
    color: #666;
    border-radius: 2px;
    margin-right: 5px;
    cursor: pointer;
}
/*多行省略号*/
.line-text-hidden{
    word-wrap:break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow:  ellipsis; 
    white-space: nowrap;
}
/*单行 省略号*/
.clamp-line-text-hidden{
    word-wrap:break-word;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}
/*绝对居中*/
.absolute_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*width 100% 的bottom-border*/
.border-full{
    border-bottom: 1px solid #e5e5e5;
}
.fff-bg{
    background-color: #fff;
}
.font-999{
    color: #999;
}
/*绝对定位底部按钮*/
.fixed-bottom-btn{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 4px;
    cursor: pointer;
    z-index: 1;
}
/*发送短信*/
.captcha{
    background-color: #feaf5f;
    width: 87px;
    height:32px;
    line-height: 32px;
    color:#fff;
    position: absolute;
    right: 12px;
    top:50%;
    transform: translate(0,-50%);
    text-align: center;
    cursor: pointer;
}

/*页面下面的友情提醒样式*/
.friendly-notic{
    margin-top: 8px;
    background-color: #fff
}
.friendly-notic .header{
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    border-bottom: 1px solid #e5e5e5;
}
.friendly-notic .content{
    padding:15px;
}
.friendly-notic .content p{
    margin-bottom: 2px;
}
/*simple-list的组件css*/
.fullscreen-box{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .2);
}
.simple-list-box{
    width: 100%;
    background-color: #fff;
    max-height: 335px;
    overflow-y: auto;
}
.simple-list-box li{
    height: 47px;
    line-height: 47px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}
.simple-list-box .title{
    cursor: no-drop;
    height: 53px;
    line-height: 53px;
    font-size: 14px;
    color: #00b9ff;
    background-color: #f4f4f4;
    letter-spacing: 2px;
}
.simple-list-box li.choose-enclickable{
    opacity: 0.4;
    cursor: no-drop;
}


.line_through{
    text-decoration: line-through;
}
/*选择标题上tab的样式*/
.switch_tab_active{
    transform: rotate(-180deg);
}


/*iview补丁*/
.ivu-notice{
    width: auto!important;
    min-width: 180px!important;
}