{% extends 'base.html' %}
{% block body %}
<div class="border-full" style="background-color: #fff;text-align: left;line-height: 40px;font-size: 14px;text-align: center;position: fixed;width: 100%">
	<Icon type="chevron-left" style="position:absolute;top:50%;transform: translate(0,-50%);left: 12px;font-size: 20px;" @click.native="location_back"></Icon>
	{% block toper_title %}
    <span>{{ title }}</span>
    {% endblock %}
    {% block toper_options %}
    {% endblock %}
	<Icon type="navicon-round" style="position:absolute;top:50%;transform: translate(0,-50%);right: 12px;font-size: 20px;" @click.native="menu_show('top')"></Icon>
</div>
<simple-choice-item :choice_list="menu_choice_list" :callback="menu_choose" ref="menu" :top="true" style="top:41px"></simple-choice-item>




<div class="content-container" style="top: 41px;height: calc(100% - 41px);overflow-y: auto;">

{% block content %}

{% endblock %}
	
</div>

{% endblock %}