{% extends 'base.html' %}
{% block title %}
藏宝阁注册-注册
{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/public_css/bootstrap.css">
<link rel="stylesheet" href="/static/public_css/font-awesome.css">
<link rel="stylesheet" href="/static/auth/css/auth.css">
<!-- Javascript -->
<script src="/static/public_js/bootstrap.js"></script>
<script src="/static/auth/js/register.js"></script>
{% endblock %}
{% block body %}
    <div class="top-content">
    	
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>藏宝阁助手</strong> <!-- 登陆 --></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-bottom">
		                    <form role="form" action="/user/userreg/" method="post" class="login-form" @focus.stop="input_focus($event)">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                {# 提升用户体验 这里不做昵称 #}
<!-- 			                    	<div class="form-group">
                                    <input type="text" v-model="nickname" maxlength="12" @focus.stop="input_focus($event)" placeholder="请输入昵称" :class="{'input-error': nickname_error}" class="form-control">
		                        </div>
-->                                    <div class="form-group">
                                    <!-- <label class="sr-only" for="form-username">Username</label> -->
                                    <input type="text" v-model="username" maxlength="11" @focus.stop="input_focus($event)" placeholder="请输入手机号" :class="{'input-error': username_error}" class="form-control">
                                </div>
		                        <div class="form-group">
		                        	<!-- <label class="sr-only" for="form-password">Password</label> -->
		                        	<input type="password" v-model="pwd" maxlength="16"  @focus.stop="input_focus($event)"  placeholder="请输入密码" :class="{'input-error': pwd_error}" class="form-username form-control">
		                        </div>
                                <div class="form-group">
                                    <!-- <label class="sr-only" for="form-password">Password</label> -->
                                    <input type="text" v-model="checkcode" @focus.stop="input_focus($event)"  placeholder="验证码" maxlength="4" :class="{'input-error': checkcode_error}" class=" form-control" >
                                    <img :src="checkcode_src" @click="checkcode_img" class="checkcode">
                                </div>
                                <div class="form-group">
                                    <!-- <label class="sr-only" for="form-password">Password</label> -->
                                    <input type="text" v-model="captcha" @focus.stop="input_focus($event)"  placeholder="注册码" maxlength="4" :class="{'input-error': captcha_error}" class=" form-control" >
                                    <captcha-item :type="'register'" :checkcode="checkcode" :username="username" :that="this" :token="'{{token}}'"></captcha-item>
                                    
                                </div>
                       
                                <div class="options">
                                    <a href="/user/login" id="register">登陆</a>
                                </div>
		                        <button class="btn" @click.prevent="submit($event)">注 册</button>
		                    </form>
	                    </div>
                    </div>
                </div>
                <div class="row">
                   <!--  <div class="col-sm-6 col-sm-offset-3 social-login">
                    	<h3>...or login with:</h3>
                    	<div class="social-login-buttons">
                        	<a class="btn btn-link-1 btn-link-1-facebook" href="#">
                        		<i class="fa fa-facebook"></i> Facebook
                        	</a>
                        	<a class="btn btn-link-1 btn-link-1-twitter" href="#">
                        		<i class="fa fa-twitter"></i> Twitter
                        	</a>
                        	<a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                        		<i class="fa fa-google-plus"></i> Google Plus
                        	</a>
                    	</div>
                    </div> -->
                </div>
            </div>
        </div>
        
    </div>

{% endblock %}
        


