{% extends 'base_toper.html' %}
{% set title = '货币充值' %}
{% import 'components/order/order_macro.html' as macro %}

{% block title %}
{{ title }}
{% endblock %}
 
{% block cssstyle %}
<style type="text/css">
	.header{
		background-color: #fff;
		height: 40px;
		line-height: 40px;
		padding-left: 5px;
	}
	.btn-pad{
		margin-top: 5px;
		margin-left: 5px;
		min-width: 80px;
		text-align: center;
	}
	.currency-box{
		background-color: #fff;
		padding: 5px;
		margin-bottom: 8px;
	}
	.currency-box div{
		position: relative;
	}
/*	.currency-box div .cbg-button:nth-child(1){
		float: left;
	}
	.currency-box div .cbg-button:nth-child(3){
		float: right;
	}
	.currency-box div .cbg-button:nth-child(2){
		position: absolute;
		left:50%;
		top: 0;
		transform: translate(-50%, 0);
	}
*/	.currency-selected{
		border-color: #00b9ff;
		border-width: 2px;
	}

	.pay-detail{
		padding: 10px 0 0 5px;
	}
	.notic{
		padding: 20px 0 0 5px;
		color: #999;
		margin-bottom: 5px;
	}
	{{ macro.pay_channel_css() }}
	
</style>

{% endblock %}

{% block content %}

<div class="currency-box clearfix">
	<div class="clearfix">
		<span v-for="currency in currency_list" class="cbg-button btn-pad" :class="{'currency-selected': currency==selected_currency}" @click.stop="selected_currency=currency">((currency))货币</span>
	</div>
	<div class="clearfix">
	</div>

	<div class="pay-detail">支付 <span style="color: #00b9ff">((selected_currency))</span>元 (赠送 <span style="color: #00b9ff">((give)) )</div>

	<div class="notic">
		<ul>
			<li>1、充值满<span style="color: #00b9ff">100</span>元赠送<span style="color: #00b9ff">5</span>元</li>
			<li>2、每多充值<span style="color: #00b9ff">100</span>元，赠送货币数量增加<span style="color: #00b9ff">1%</span></li>
			<li>3、盒币充值后不可退</li>
		</ul>

	</div>
</div>

<div class="fff-bg">
	<div style="height: 50px;padding-left:10px;line-height: 50px;">
		支付方式
	</div>
	<pay-channel :_goods_obj="goods_obj" :that="this" :_signature_obj="signature_obj" ref="pay_template" :support_type="['ali', 'wx']"></pay-channel>
</div>
<div class="fixed-bottom-btn background-active" @click="pay">确认充值</div>





{% endblock %}


{% block javascript %}
<script type="text/javascript">
	var v = new Vue({
		el: '#body',
		delimiters : ["((", "))"],
		data: {
			// 支付相关
			is_click: false,
			goods_obj: {
				'goodsname': '',
				'uid': '',
				'price': '',
				'notify_url': '',
				'return_url': '',
				'orderid': '',
				'orderuid': '',
			},
			signature_obj: {
				1: '',
				2: '',
			},
			// 按钮选项
			currency_list: [10, 30, 50, 100, 300, 500,],
			selected_currency: 50,

		},
		methods: {
			test: function($e){
				console.log($e)
			},
			pay: function(){
				if(this.is_click) return false;
				var that = this;
				var istype = this.$refs.pay_template.active_obj.type;
				normal_ajax('/order/build_currency_order_api/{0}/{1}/'.format(istype, this.selected_currency),  'GET', null, function(){
					that.is_click = true;
				}, function(ret){
						if(ret.retcode == 'SUCC'){
							that.goods_obj = ret.post_params;
							that.signature_obj[1] = that.signature_obj[2] = ret.post_params.key;
							that.$refs.pay_template.$nextTick(function(){
								that.$refs.pay_template.submit();
							})
						}else{
							if(ret.msg="LOGIN"){
								login_redirect()
							}
						}
				}, null, function(){that.is_click=false})
			},
		},
		computed: {
			give: function(){
				if(this.selected_currency < 100) return 0;
				if(this.selected_currency == 100) return 5;
				if(this.selected_currency == 200) return 12;
				if(this.selected_currency == 300) return 21;
				if(this	.selected_currency == 500) return 45;

			}
		}
	})
</script>
{% endblock %}
