{% set title = '订单页面'%}
{% extends 'base_toper.html' %}
{% import 'components/order/order_macro.html' as macro %}
{% block head %}
{% endblock %}



{% block cssstyle %}
<style type="text/css">
	{{ macro.order_item_css() }}
	{{ macro.pay_channel_css() }}
	.pay-bottom{
		height: 50px;
		background-color: #fff;
		position: fixed;
		z-index: 10;
		width: 100%;
		bottom: 0;
		background-color: #fff
	}
	.pay-bottom .submit{
		height: 100%;
		width: 100px;
		color: #fff;
		line-height: 50px;
		text-align: center;
		float:right;
		margin-left: 10px;
		cursor: pointer;
	}
	.pay-bottom .price-detail{
		float:right;
	}
	.pay-bottom .price-detail div{
		height: 50%;
		line-height: 25px;
		font-size: 1.1em;
	}
	.pay-bottom .price-detail div span{
		color:#fe555c;
	}
	.pay-bottom .price-detail div span span{
		font-size: 12px;
	}
	/*支付弹框*/
	.pay-type-select-box{
		height: 350px;
		width: 100%;
		position: fixed;
		z-index: 20;
		bottom: -350px;
		background-color: #fff
	}
	.pay-type-select-box{
		transition: all 0.5s;
	}
	.pay-select-active{
		bottom: 0;
	}
	.pay-type-select-box .pay-top{
		padding: 12px 10px;
		color: #999;
		position: relative;
	}
	.go-pay{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 50px;
		color: #fff;
		line-height: 50px;
		text-align: center;
		font-size: 14px;
		letter-spacing: 4px;
		cursor: pointer;
	}

	.mask{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 15;
		opacity: 0.4;
		background-color: #666666;
	}
	.pay-select-close{
	    font-size: 40px;
	    display: inline;
	    position: absolute;
	    right: 12px;
	    top: 2px;
	    cursor: pointer;
	}

</style>
{% endblock %}




{% block content %}

{{ macro.order_item(order) }}


<page-notic-item :title="'友情提醒'">
	<p>1. 由于第三方支付的规则，实际支付可能和价格有0.01-0.02的价格波动。</p>
	<p>2. 该商品不支持退货！</p>
	<p>3. 该商品提供{{order.free_push_times}}次/天的短信提醒额度，超过额度将以0.01元/次从余额中扣除，不足将无法接收到短信提醒！</p>
	<p>4. 该商品只支持3次订单修改，包括(搜索条件，推送方式...,服务时间不支持修改)！</p>
</page-notic-item>


<div class="pay-bottom">
	<div class='submit background-active' @click.stop="pay_select_active = true;">
		支付
	</div>
	<div class="price-detail">
		<div>合计：<span>￥{{ order.real_price | round_2 }}</span></div>
		<div>优惠： <span>￥0.00</span></div>
	</div>
	
</div>

<div class="pay-type-select-box" :class="{'pay-select-active': pay_select_active}">
	<div class="pay-top">
		支付金额: {{ order.real_price | round_2 }} 元
		<Icon type="ios-close-empty" class="pay-select-close" @click.native="pay_select_active = false"></Icon>
	</div>
	<pay-channel :_goods_obj="goods_obj" :that="this" :_signature_obj="signature_obj" ref="pay_template" :support_type="['ali', 'wx', 'mhb']" :currency="currency"></pay-channel>

	<div class="fixed-bottom-btn background-active" style="position: absolute!important;" @click="pay">立即支付</div>
</div>
<div style="height: 50px;visibility: hidden;"></div>

<div class="mask" v-show="pay_select_active">
	
</div>
<!-- paypayzhu post表单 -->


{% endblock %}

{% block javascript %}
<script type="text/javascript">

	var v = new Vue({
		el: '#body',
		delimiters : ["((", "))"],
		
		data: {
			currency: {{ currency }},
			pay_select_active: false,
			goods_obj: {
				'goodsname': '{{ali_payapi_post_params.goodsname}}',
				'uid': '{{ali_payapi_post_params.uid}}',
				'price': '{{ali_payapi_post_params.price}}',
				'notify_url': '{{ali_payapi_post_params.notify_url}}',
				'return_url': '{{ali_payapi_post_params.return_url}}',
				'orderid': '{{ali_payapi_post_params.orderid}}',
				'orderuid': '{{ali_payapi_post_params.orderuid}}',
			},
			signature_obj: {
				1: '{{ali_payapi_post_params.key}}',
				2: '{{wx_payapi_post_params.key}}',
			}
		},
		methods: {
			pay: function(){
				this.$refs.pay_template.submit();
			}
		},

	})
	
</script>
{% endblock %}