{% extends 'base.html' %}
{% block head%}
<script type="text/javascript" src="/static/public_js/qiniu.min.js"></script>
{% endblock %}
{% block title %}
提交bug
{% endblock %}

{% block cssstyle %}
<style type="text/css">
	.probleim-img-box{
		padding-left: 12px;
	}
	.img-box{
		display: inline-block;
		width: 80px;
		height: 80px;
		border: 1px solid #7db5c2;
		border-radius: 2px;
		position: relative;
	}
	.no-img{
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		font-size: 50px;
		z-index: 10;
	}
	.file-input{
		position: absolute;
		top:0;
		height: 100%;
		width: 100%;
		opacity: 0;
		z-index: 20
	}
	.img-cancel{
		color: red;
		position: absolute;
		font-size: 20px;
		top: -10px;
		right: -10px;
		z-index: 30;
		cursor: pointer;
	}
	/*简单的下弹选择框*/

	.problems-box{
		height: 44px;
		line-height: 44px;
		padding: 0 12px;
	}
	.problems-box span:nth-child(1){
		float: left;
	}
	.problems-box span:nth-child(2){
		float: right;
		color: #999;
	}
	textarea{
		padding:0 12px;
	}
	.textarea2{
		height: 150px;
	}


</style>
{% endblock %}

{% block body %}
	<div>
		<div class="problems-box fff-bg" style="margin-bottom: 5px;"  @click="showProblems">
			<span>1.问题类型</span>
			<span>((type))></span>
		</div>
	</div>


	<div class="fff-bg">
		<div class="problems-box">
			<span>2.请填写问题功能或者问题页面</span>
		</div>
		<div style="margin-bottom: 5px;">
			<textarea maxlength="100" placeholder="如:<<订单页面>>数据有问题" class="textarea1" v-model="title"></textarea>
			<div style="text-align: right;padding: 0 12px;" class="fff-bg">((title.length))/100</div>
		</div>
	</div>
	<div class="fff-bg">
		<div class="problems-box fff-bg">
			<span>3.问题详情</span>
		</div>
		<div style="margin-bottom: 5px;">
			<textarea maxlength="500" placeholder="请输入提交的问题详情" class="textarea2" v-model="content"></textarea>
			<div style="text-align: right;padding: 0 12px;" class="fff-bg">((content.length))/500</div>
		</div>
	</div>

	<div class="probleim-img-box fff-bg">
		<div class="problems-box fff-bg" style="margin-left:-12px;">
			<span>4.添加图片(添加问题相关图片更容易获得奖励哦)</span>
		</div>

		<div v-for="img in img_list" class="img-box" style="margin:10px 10px 0 0">
			<div style="height: 100%;">
				<Icon type="minus-circled" class="img-cancel" @click.native.stop="removeImg(img)"></Icon>
				<img :src="img" style="height: 100%;width: 100%">
			</div>
		</div>

		<div class="img-box" v-if="img_list.length < maxImageLength" id="container">
			<div class="no-img">
				<Icon type="image"></Icon>
			</div>
			<input type="file" class="file-input" @change="img_change($event)" id="pickfiles">
		</div>

<!-- 		<div v-for="img in img_list" class="img-box" style="margin:10px 10px 0 0">
			<div style="height: 100%;">
				<Icon type="minus-circled" class="img-cancel" @click.native.stop="removeImg(img)"></Icon>
				<img :src="img.url" style="height: 100%;width: 100%" @error="imgError($event, img)">
			</div>
			<input type="file" class="file-input" @change="img_change($event, img);">
		</div>
		<div class="img-box" v-if="img_list.length < maxImageLength" id="container">
			<div class="no-img">
				<Icon type="image"></Icon>
			</div>
			<input type="file" class="file-input" @change="img_change($event)" id="pickfiles">
		</div>
		!-->
	</div>

	<page-notic-item :title="'问题提交说明'">
		<p>1.问题一旦被站长确认，会获得10元的盒币奖励，充值会在3个工作日之内到账。</p>
		<p>2.如果同时有多个类似的问题提交，将会优先按提交的详细程度(请尽量附带图片哦),提交的顺序奖励，奖励进行公告。</p>
	</page-notic-item>

	<div style="height: 50px;visibility: hidden;"></div>
	<div class="fixed-bottom-btn background-active" @click.stop="submit">(( submiting ? '提交中。。。' : '提交'))</div>


 	<simple-choice-item :title="'问题类型'" :choice_list="choice_list" :callback="problemChoose" :top="false" ref="problem_box"></simple-choice-item>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
	var qiniu_params ={
      runtimes: 'html5,flash,html4',      // 上传模式，依次退化
      browse_button: 'pickfiles',         // 上传选择的点选按钮，必需
      // 在初始化时，uptoken，uptoken_url，uptoken_func三个参数中必须有一个被设置
      // 切如果提供了多个，其优先级为uptoken > uptoken_url > uptoken_func
      // 其中uptoken是直接提供上传凭证，uptoken_url是提供了获取上传凭证的地址，如果需要定制获取uptoken的过程则可以设置uptoken_func
      uptoken : '{{ qiniu_token }}',
      // uptoken_url: '/uptoken',         // Ajax请求uptoken的Url，强烈建议设置（服务端提供）
      // uptoken_func: function(){    // 在需要获取uptoken时，该方法会被调用
      //    // do something
      //    return uptoken;
      // },
      get_new_uptoken: false,             // 设置上传文件的时候是否每次都重新获取新的uptoken
      // downtoken_url: '/downtoken',
      // Ajax请求downToken的Url，私有空间时使用，JS-SDK将向该地址POST文件的key和domain，服务端返回的JSON必须包含url字段，url值为该文件的下载地址
      // unique_names: true,              // 默认false，key为文件名。若开启该选项，JS-SDK会为每个文件自动生成key（文件名）
      // save_key: true,                  // 默认false。若在服务端生成uptoken的上传策略中指定了sava_key，则开启，SDK在前端将不对key进行任何处理
      domain: '{{qiniu_domain}}',     // bucket域名，下载资源时用到，必需
      container: 'container',             // 上传区域DOM ID，默认是browser_button的父元素
      max_file_size: '2mb',             // 最大文件体积限制
      flash_swf_url: 'path/of/plupload/Moxie.swf',  //引入flash，相对路径
      max_retries: 3,                     // 上传失败最大重试次数
      // dragdrop: true,                     // 开启可拖曳上传
      // drop_element: 'input',          // 拖曳上传区域元素的ID，拖曳文件或文件夹后可触发上传
      // chunk_size: '4mb',                  // 分块上传时，每块的体积
      auto_start: true,                   // 选择文件后自动上传，若关闭需要自己绑定事件触发上传
      //x_vars : {
      //    查看自定义变量
      //    'time' : function(up,file) {
      //        var time = (new Date()).getTime();
                // do something with 'time'
      //        return time;
      //    },
      //    'size' : function(up,file) {
      //        var size = file.size;
                // do something with 'size'
      //        return size;
      //    }
      //},
      filters : {
            max_file_size : '2mb',
            prevent_duplicates: true,
            //Specify what files to browse for
             mime_types: [
            	{title : "Image files", extensions : "jpg,gif,png"}, //限定jpg,gif,png后缀上传
            ]
       },
      init: {
          'FilesAdded': function(up, files) {
              plupload.each(files, function(file) {
                  // 文件添加进队列后，处理相关的事情
              });
          },
          'BeforeUpload': function(up, file) {
          },
          'UploadProgress': function(up, file) {
                 // 每个文件上传时，处理相关的事情

          },
          'Error': function(up, err, errTip) {
          		up.vue.$Message.warning(errTip);
          		var progress = new FileProgress(err.file, 'fsUploadProgress');
                progress.setError();
                progress.setStatus(errTip);
          },
          'FileUploaded': function(up, file, info) {
          	    up.vue.FileUploaded(up, file, info);
           },
          'UploadComplete': function() {
                 //队列文件处理完毕后，处理相关的事情
          },
          'Key': function(up, file) {
              // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
              // 该配置必须要在unique_names: false，save_key: false时才生效
              var date = new Date();
              // year = date.getFullYear();
              // month = date.getMoth();
              // day = date.getDate();
              hour = date.getHours();
              minute = date.getMinutes();
              seconds = date.getSeconds();
              miseconds = date.getMilliseconds();
              return '/bugs/img/{{request.user.id}}/{0}:{1}:{2}:{3}:{4}'.format(date.toLocaleDateString(), hour, minute, seconds, miseconds);
          }
      }
  }
	
	
  // domain为七牛空间对应的域名，选择某个空间后，可通过 空间设置->基本设置->域名设置 查看获取
  // uploader为一个plupload对象，继承了所有plupload的方法
	

	var v = new Vue({
		el: '#body',
		delimiters : ["((", "))"],
		data: {
			submit_type : 'Bug',
			type: "请选择",
			title: '',
			content:"",
			submiting: false,



			img_list: [],
			format: ['jpg', 'png', 'gif'],
			maxImageSize: 2048,
			maxImageLength: 5,
			choice_list: [{'text': '网页打不开'}, {'text': '网页加载太慢'}, {'text': '网页渲染有问题'}, {'text': '数据有问题'}, {'text': '操作提示错误'},  {'text': '其它'}]
		},
		mounted: function(){
			if(!g_user_id){
				this.$Modal.confirm({
					title: '提醒',
					content: '您尚未登陆，提交问题被采纳后将无法获得奖励！是否前往登陆？',
					okText:'登陆',
					cancelText: '算了',
					onOk: login_redirect,
				})
			}
			// 初始化七牛对象
			var uploader = Qiniu.uploader(qiniu_params);
			uploader.vue = this;
		},
		methods: {
			showProblems: function(){
				this.$refs.problem_box.show();
			},
			problemChoose: function(problem){
				this.type = problem;
			},
			removeImg: function(img){
				var index = this.img_list.indexOf(img);
		        this.img_list.splice(index, 1);
			},
			checkFormatError:function(file) {
            	if(this.format.length) {
                	var format = file.name.split(".").pop().toLocaleLowerCase();
                	if(this.format.indexOf(format) === -1){
                		this.$Message.warning('错误的图片格式！');
                		return true;
                	}
                }
            },
            FileUploaded: function(up, file, info) {
            	 console.log(up, file, info)
            	 this.img_list.push('http://{{qiniu_domain}}/' + JSON.parse(info.response).key);
                 // 每个文件上传成功后，处理相关的事情
                 // 其中info.response是文件上传成功后，服务端返回的json，形式如：
                 // {
                 //    "hash": "Fh8xVqod2MQ1mocfI4S4KpRL6D98",
                 //    "key": "gogopher.jpg"
                 //  }
                 // 查看简单反馈
                 // var domain = up.getOption('domain');
                 // var res = parseJSON(info.response);
                 // var sourceLink = domain +"/"+ res.key; 获取上传成功后的文件的Url
         	},
            checkMaxSize:function(file) {
                if(this.maxImageSize && file.size > 1024 * this.maxImageSize){
            		this.$Message.warning('图片太大！');
            		return true;
            	}
            },
            submit: function(){
            	if(this.submiting){
            		this.$Message.warning('正在提交中。。');
            		return  false;
            	}
            	if(this.type == '请选择'){
            		this.$Message.warning('请完成 1 选项！')
            		return false;
            	}else if(!this.title){
            		this.$Message.warning('请完成 2 选项！')
            		return false;
            	}else if(!this.content){
            		this.$Message.warning('请完成 3 选项！')
            		return false;
            	}
            	var submit_data = {};
            	submit_data['submit_type'] = this.submit_type;
            	submit_data['type'] = this.type;
            	submit_data['title'] = this.title;;
            	submit_data['content'] = this.content;
            	submit_data['img_list'] = this.img_list.join('@');
        		var that = this;
        		normal_ajax("/others/submit_problems", 'POST', submit_data, function(){
        				that.submiting = true;
        			}, function(ret){
        				that.$Modal.success({
							title: '提交成功',
							content: '您的反馈已经提交成功，一旦被采纳会立刻为您充值盒币！感谢您的反馈。',
							okText:'确认',
							onOk: function(){
								history.back();
							},
						})
	        		},function(ret){
	        			that.$Message.warning(ret.description)
	        		},function(){
	        			that.submiting = false;
	        		}
        		)
            },

		}
	})

	
</script>
{% endblock %}
